
a {
    color:blueviolet;
}



header {
   color:white;
   font-family:courier;
}

h1 {
    font-family:courier;
    color:white;
    font-size:16px;
}

h2 {
    font-family:courier;
    color:blueviolet;
    font-size:16px; 
}

p{
    font-family:courier;
}

div {
    cursor:pointer;
}
