
h3{
    color:blueviolet;
    font-size:22px;
}

p{
    color:blueviolet;
    font-family:courier;
    font-size:16px
}

h2{ color:blueviolet;
    font-family:courier;
    font-size:16px
}
    
h1{
    color:white;
    font-family:courier;
    font-size:28px;
}

div {
    cursor:pointer;
}





//^^^^THIS IS PROJECTS PAGE^^^^//



